<div class="each-group" id="<%= dom_id group %>">
    <div class="group-profile">
    <%= image_tag(group.icon) %>
    <div class="middle-one">
    <h2><%= group.name %> </h2>
    <p class="group-created-date"><%= group.created_at.localtime.strftime("%B %d, %Y") %> </p>
    </div>

    <div class="payment-metrics-each-group"><p></p>

    </div>
    </div>

</div>



